<launch>
    <!-- rosserial_server -->
    <!-- <node pkg="rosserial_server" type="serial_node" name="rosserial_arm1" output="screen">
        <param name="port" value="/dev/USB0-1" />
        <param name="baud" value="115200" />
        <rosparam>
            require:
                publishers: [ donefullness0 ]
                subscribers: [ mission0 ]
        </rosparam>
    </node> -->

    <!-- <node pkg="rosserial_server" type="serial_node" name="rosserial_arm" output="screen">
        <param name="port" value="/dev/USB0-0" />
        <param name="baud" value="115200" />
        <rosparam>
            require:
                publishers: [ donefullness0 ]
                subscribers: [ mission0 ]
        </rosparam>
    </node> -->

    <!-- rosserial_python -->
    <node pkg="rosserial_python_revision" type="serial_node.py" name="rosserial_arm1" output="screen">
        <param name="port" value="/dev/USB1-1" />
        <param name="baud" value="115200" />
        <param name="timeout" value="1.5" />
        <param name="isMega2560" value="False" />
    </node>

    <node pkg="rosserial_python_revision" type="serial_node.py" name="rosserial_plate1" output="screen">
        <param name="port" value="/dev/USB1-2" />
        <param name="baud" value="115200" />
        <param name="timeout" value="1.5" />
        <param name="isMega2560" value="True" />
    </node>

</launch>