<launch>
    <arg name="side" default="0" />
    
    <!-- Set is_sim to true if you want to run simulation. -->
    <include file="$(find navigation_run)/launch/basic.launch">
        <arg name="is_run" value="true" />
        <arg name="is_sim" value="false" />
        <arg name="side" default="$(arg side)" />
        <!-- which robot -->
        <arg name="is_robot2" value="true" />
    </include>
</launch>
