<launch>
    <!-- Set is_sim to true if you want to run simulation. -->
    <!-- robot1 -->
    <include file="$(find navigation_run)/launch/basic.launch">
        <arg name="is_run" value="false" />
        <arg name="is_sim" value="true" />

        <!-- which robot -->
        <arg name="is_robot1" default="true" />
    </include>

    <!-- robot2 -->
    <include file="$(find navigation_run)/launch/basic.launch">
        <arg name="is_run" value="false" />
        <arg name="is_sim" value="true" />

        <!-- which robot -->
        <arg name="is_robot2" default="true" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="map_to_map1" args="0 0 0 0 0 0 map robot1/map 30"/>
    <node pkg="tf" type="static_transform_publisher" name="map_to_map2" args="0 0 0 0 0 0 map robot2/map 30"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navigation_run)/rviz/rviz_sim1.rviz" />

</launch>
