<launch>

    <node pkg="script_sim" type="point_to_point" name="point_to_point1" args="$(find script_sim)/config/script4_real_robot1.yaml /navigation_main_1/mission /navigation_main_1/is_finish" output="screen">
    </node>

    <node pkg="script_sim" type="point_to_point" name="point_to_point2" args="$(find script_sim)/config/script4_real_robot2.yaml /navigation_main_2/mission /navigation_main_2/is_finish" output="screen">
    </node>

</launch>