<launch>

    <arg name="robot1_script" default="script6_real_robot1.yaml"/>
    <arg name="robot2_script" default="script6_real_robot2.yaml"/>

    <node pkg="script_sim" type="point_to_point" name="point_to_point1" args="$(find script_sim)/config/$(arg robot1_script) /robot1/mission /robot1/is_finish" output="screen" />
    <node pkg="script_sim" type="point_to_point" name="point_to_point2" args="$(find script_sim)/config/$(arg robot2_script) /robot2/mission /robot2/is_finish" output="screen" />

</launch>