<launch>

    <node pkg="script_sim" type="point_to_point" name="point_to_point_rival1" args="$(find script_sim)/config/script4_real_rival1.yaml /rival1/mission /rival1/is_finish" output="screen">
    </node>

    <node pkg="script_sim" type="point_to_point" name="point_to_point_rival2" args="$(find script_sim)/config/script4_real_rival2.yaml /rival2/mission /rival2/is_finish" output="screen">
    </node>

</launch>